<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <%- include("partials/header") %>
    <h1>About Me</h1>
    <img src="pp.jpg" alt="Profile_Pic" height="170px" width = "130px">
    <p>I'm an avid web developer who is a 2nd year Computer Science student at the University of Waterloo.
        Proficient in data science, data visualization and frontend development. Learning Backend Development.
        Hoping to learn App development. An Avid movie and TV shows watcher.
    </p>
    <%- include("partials/footer") %>
</body>
</html>