<%- include("partials/header") %>
<h1>Contact Me</h1>
<h3 class = "display-2">My email: pranav.vadrevu@outlook.com</h3>
<h3 class = "display-2">My phone: +1 519-880-XXXX</h3>
<%- include("partials/footer") %>